body {
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* columns: 3 auto; */
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: #1d1d1d;
    text-align: center;
}

.example::-webkit-scrollbar {
    display: none;
}

ul {
    columns: 3 auto;
}

li {
    display: block;
    margin-top: 20px;
    list-style-type: none;
    font-size: 25px;
}

img {
    margin: 25px;
    max-width: 500px;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.6));
}

.num {
    /* position: absolute; */
    display: block;
    background: #282828;
    border-radius: 100%;
    outline: 4px solid;
    outline-color: #ea7600;
    width: 40px;
    height: 40px;
}

span {
    text-align: center;
    font-size: 30px;
}

a {
    color: #ea7600;
}

.footer { 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    color: #4d4d4d;
    /* text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8); */
}

#element::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1700px) {
    /* body {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    } */

    ul {
        columns: 2 auto;
    }

    li {
        display: block;
        margin-top: 15px;
        list-style-type: none;
        font-size: 24px;
    }

    .num {
        /* position: absolute; */
        display: block;
        background: #282828;
        border-radius: 100%;
        outline: 4.5px solid;
        outline-color: #ea7600;
        width: 38px;
        height: 38px;
    }
    
    span {
        text-align: center;
        font-size: 29.5px;
    }
}

@media (max-width: 1200px) {
    ul {
        columns: 1 auto;
    }

    li {
        display: block;
        margin-top: 10px;
        list-style-type: none;
        font-size: 30px;
    }

    img {
        margin: 25px;
        max-width: 90%;
    }

    li {
        display: block;
        margin-top: 10px;
        list-style-type: none;
        font-size: 23px;
    }

    .num {
        /* position: absolute; */
        display: block;
        background: #282828;
        border-radius: 100%;
        outline: 4px solid;
        outline-color: #ea7600;
        width: 36px;
        height: 36px;
    }
    
    span {
        text-align: center;
        font-size: 28px;
    }
}